@import './vars';
@import 'mixins';
@import 'fonts';
@import './modules/buttons.scss';
@import './fa/fontawesome.scss';

body {
    margin: 0;
    padding: 0;
}
#app {
    font-family: 'lato';
    background: #cccccc;
}
section {
    height: calc(100vh - var(--tabs-height));
    background: var(--bg-color);
    position: relative;
    z-index: 2;
}